#hintergrund {
  width: 100%;
  height: auto;
}
html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.logo {
  margin: 0px;
  width: 7%;
  height: auto;
  position: absolute;
  top: 25px;
  left: 25px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 55px;
  left: 180px;
  background-color: #71b98a;
  position: absolute;
  width: 550px;
  border-radius: 20px;
}
.workbutton {
  border: none;
  background: none;
}
.mebutton {
  border: none;
  background: none;
}
.contactbutton {
  border: none;
  background: none;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Helvetica";
  font-size: 40px;
}
